/build/
/dist/
Thumbs.db
nbproject/build-native.xml~
javadoc.zip
persistence.xml
/javadoc/
/.jacocoverage/
/build
/target/
/out/
/**/.sonar/
**.jacocoverage/
**/*.iml
*.iml
*.versionsBackup
*.log
*.tlog
/.idea/
*.project
**/*.project
**/*.classpath
**/.settings
/.settings